:root {
    font-size: 18px;
    --body-background: rgb(0, 0, 0);
    --color: rgba(238, 224, 206, 1);
    --color-transparent: rgba(238, 224, 206, 0);
    --borderc: var(--color);
    --nav-hover-color: rgb(235, 212, 5);
    --underline-bc: rgba(10, 240, 240, 1);
    --underline-transparent-bc: rgba(10, 240, 240, 0);
    --light-mode-icon-color: rgb(243, 113, 7);
    --light-mode-button-bc: rgb(1,4,19);
    --jumping-letter-color: rgb(238, 133, 14);
    --jumping-letter-stroke-color: rgb(255, 230, 0);
    --header-text-shadow-color-04: rgba(255, 255, 255, 0.4);
    --header-text-shadow-color-02: rgba(255, 255, 255, 0.2);
    /*Mobile menu colors*/
    --mobile-menu-bc: rgba(0, 0, 0, 0.2);
    --mobile-menu-shadow-c: rgba(255, 255, 255, 0.1);
    --mobile-menu-border-hide-c: rgba(0, 0, 0, 0);
    --mobile-menu-border-show-c: rgba(0, 0, 0, 0.2);
    /*Colors for color-wave animation of icons*/
    --icon-color-1: rgb(6, 226, 226);
    --icon-color-2: rgb(6, 247, 46);
    --icon-color-3: rgb(167, 41, 37);
    --icon-color-4: rgb(231, 21, 168);
    --icon-color-5: rgb(20, 52, 235);
    --icon-color-1-alpha01: rgba(6, 226, 226, 0.1);
    --icon-color-2-alpha01: rgba(6, 247, 46, 0.1);
    --icon-color-3-alpha01: rgba(167, 41, 37, 0.1);
    --icon-color-4-alpha01: rgba(231, 21, 168, 0.1);
    --icon-color-5-alpha01: rgba(20, 52, 235, 0.1);
    --icon-color-1-alpha02: rgba(6, 226, 226, 0.2);
    --icon-color-2-alpha02: rgba(6, 247, 46, 0.2);
    --icon-color-3-alpha02: rgba(167, 41, 37, 0.2);
    --icon-color-4-alpha02: rgba(231, 21, 168, 0.2);
    --icon-color-5-alpha02: rgba(20, 52, 235, 0.2);
    --icon-color-1-alpha03: rgba(6, 226, 226, 0.3);
    --icon-color-2-alpha03: rgba(6, 247, 46, 0.3);
    --icon-color-3-alpha03: rgba(167, 41, 37, 0.3);
    --icon-color-4-alpha03: rgba(231, 21, 168, 0.3);
    --icon-color-5-alpha03: rgba(20, 52, 235, 0.3);
}

.root-light-mode {
    --body-background: rgb(252, 253, 253);
    --color: rgba(0, 0, 0, 1);
    --color-transparent: rgba(0, 0, 0, 0);
    --light-mode-button-bc: rgb(143, 231, 227);
    --nav-hover-color: rgb(29, 25, 231);
    --underline-bc: rgba(211, 45, 183, 1);
    --underline-transparent-bc: rgba(211, 45, 183, 0);
    --jumping-letter-color: rgb(90, 22, 129);
    --jumping-letter-stroke-color: rgb(207, 70, 219);
    --header-text-shadow-color-04: rgba(16, 16, 16, 0.4);
    --header-text-shadow-color-02: rgba(16, 16, 16, 0.2);
    /*Mobile menu colors*/
    --mobile-menu-bc: rgba(255, 255, 255, 0.2);
    --mobile-menu-shadow-c: rgba(0, 0, 0, 0.1);
    --mobile-menu-border-hide-c: rgba(255, 255, 255, 0);
    --mobile-menu-border-show-c: rgba(255, 255, 255, 0.2);
    /*Colors for color-wave animation of icons*/
    --icon-color-1: rgb(90, 22, 129);
    --icon-color-2: rgb(2, 1, 39);
    --icon-color-3: rgb(6, 16, 102);
    --icon-color-4: rgb(54, 16, 85);
    --icon-color-5: rgb(85, 9, 56);
    --icon-color-1-alpha01: rgba(90, 22, 129, 0.1);
    --icon-color-2-alpha01: rgba(2, 1, 39, 0.1);
    --icon-color-3-alpha01: rgba(6, 16, 102, 0.1);
    --icon-color-4-alpha01: rgba(54, 16, 85, 0.1);
    --icon-color-5-alpha01: rgba(85, 9, 56, 0.1);
    --icon-color-1-alpha02: rgba(90, 22, 129, 0.2);
    --icon-color-2-alpha02: rgba(2, 1, 39, 0.2);
    --icon-color-3-alpha02: rgba(6, 16, 102, 0.2);
    --icon-color-4-alpha02: rgba(54, 16, 85, 0.2);
    --icon-color-5-alpha02: rgba(85, 9, 56, 0.2);
    --icon-color-1-alpha03: rgba(90, 22, 129, 0.3);
    --icon-color-2-alpha03: rgba(2, 1, 39, 0.3);
    --icon-color-3-alpha03: rgba(6, 16, 102, 0.3);
    --icon-color-4-alpha03: rgba(54, 16, 85, 0.3);
    --icon-color-5-alpha03: rgba(85, 9, 56, 0.3);
}

html, body, p, h2, h3 {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-background);
    color: var(--color);
    font-family: 'Orbitron', sans-serif;
    transition: background-color 0.5s ease, color 0.5s ease;
}

img {
    width: 100%;
    height: auto;
}

/*Header*/
header {
    display: flex;
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: var(--body-background);
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

header .desktop {
    position: relative;
    margin-right: 5rem;;
    padding: 15px 0;
}

header .desktop a {
    margin: 0 2rem;
    text-decoration: none;
    color: var(--color);
    letter-spacing: 1px;
    font-size: 1.5rem;
    transition: color 0.5s ease, filter 0.5s ease;
    filter: drop-shadow(2px 2px 10px transparent);
    outline: none;
}

header .desktop a:hover, header .desktop a:focus {
    color: var(--nav-hover-color);
    filter: drop-shadow(2px 2px 10px var(--nav-hover-color));
}

header .desktop a:nth-child(1) {
    margin-left: 0;
}

header .desktop a:nth-child(4) {
    margin-right: 0;
}

.underline {
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: var(--underline-bc);
    left: 0;
}

header .desktop .underline {
    transition: left 0.6s ease, width 0.6s ease;
}

/*Mobile nav menu*/
#mobile-menu-container {
    display: none;
    position: relative;
    right: 1rem;
}

#menu-button {
    height: 40px;
    width: 40px;
    position: relative;
}

.menu-button-line {
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: var(--color);
    border-radius: 3px;
    transform-origin: center;
    transition: transform 0.5s;
}

#top-line {
    top: 10%;
}

#menu-button .rotate-top {
    transform: translateY(350%) rotate(45deg);
}

#middle-line {
    top: 45%;
}

#menu-button .hide-middle {
    transform: scaleX(0);
}

#bottom-line {
    bottom: 10%;
}

#menu-button .rotate-bottom {
    transform: translateY(-350%) rotate(-45deg);
}

#mobile-menu {
    width: 200px;
    position: absolute;
    top: 40px;
    right: 20px;
    overflow: hidden;
    background: var(--mobile-menu-bc);
    border-radius: 15px;
    box-shadow: 0 10px 30px var(--mobile-menu-shadow-c);
    backdrop-filter: blur(5px);
    border: 1px solid var(--mobile-menu-border-hide-c);
    transform-origin: top right;
    transform: scale(0);
    transition: transform 0.5s ease, border-color 0.5s;
}

#mobile-menu-container .show-mobile-menu {
    transform: scale(100%);
    border: 1px solid var(--mobile-menu-border-show-c);
}

#mobile-menu a {
    display: block;
    width: 100%;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 1rem 0;
    text-align: center;
    text-decoration: none;
    color: var(--color);
    transform: translateX(100%);
}

#mobile-menu .mobile-menu-links {
    transform: translateX(0);
    transition: transform 0.5s ease;
    transition-delay: calc(0.4s + 0.2s * var(--delay));
}

/*main*/
/*Light mode button*/
main {
    padding-top: 64px;
}

#light-mode-container {
    width: 50px;
    height: 50px;
    position: relative;
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#light-mode-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--borderc);
    background-color: var(--body-background);
    overflow: hidden;
    transition: border-color 0.5s ease;
}

.mode {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#light-icon {
    position: relative;
    cursor: pointer;
    height: 40px;
    width: 100px;
    background-color: var(--light-mode-button-bc);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--light-mode-icon-color);
    transform: translateX(0);
    transition: transform 0.5s ease, background-color 0.5s ease;
}

#light-mode-button .light-mode {
    transform: translateX(-60px);
}

/*Type name container*/
#presentation {
    display: flex;
    min-height: 800px;
    align-items: center;
    justify-content: space-around;
}

#name-writer {
    margin-left: 5rem;
    width: 40%;
}

#name-writer p {
    color: var(--color);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 4px;
}

#type-name {
    min-height: 2.5rem;
    width: fit-content;
    white-space: nowrap;
}

/*Skill jumping container*/
#skills-container {
    width: 40%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#letter-container {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter-box {
    font-size: 4rem;
    font-weight: bold;
    color: var(--jumping-letter-color);
    filter: saturate(200%);
    -webkit-text-stroke: 2px var(--jumping-letter-stroke-color);
    filter: drop-shadow(2px -2px 2px var(--jumping-letter-stroke-color));
    letter-spacing: 0.2rem;
}

/*Icon circle container*/
#icon-container {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    transform-origin: center;
}

.box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    transform-origin: center;
    border-radius: 50%;
    font-size: 1.8rem;
}

.box svg {
    height: 90%;
    width: 90%;
}

.box .fa-brands, .box svg {
    color: var(--icon-color-1);
    filter: saturate(200%) drop-shadow(1px 1px var(--icon-color-1-alpha03)) 
                            drop-shadow(2px 2px var(--icon-color-1-alpha03)) 
                            drop-shadow(3px 3px var(--icon-color-1-alpha02))
                            drop-shadow(4px 4px var(--icon-color-1-alpha01));
    animation: 5s ease-in-out infinite alternate color-wave;
    animation-delay: calc(0.3s * var(--i));
}

/*Section about*/
.content-container {
    box-sizing: border-box;
    padding-top: 10%;
}

.content-container-box {
    width: 98%;
    margin: 0 auto;
    padding: 15px 0;
    position: relative;
    overflow: hidden;
}

.content-container-box h2{
    font-size: 2rem;
    letter-spacing: 2px;
    margin: 0 auto;
    width: fit-content;
}

.content-container-box .underline {
    background-color: var(--underline-transparent-bc);
    transform: translateX(var(--length));
    transition: transform 1s ease, background-color 0.5s 0.2s ease;
}

.content-container .content-container-box .center-underline {
    background-color: var(--underline-bc);
    transform: translateX(0);
}

.content-container-box .content-container-header {
    color: var(--color-transparent);
    position: relative;
    transform: translateX(var(--length));
    transition: transform 1s ease, color 0.5s 0.2s ease;
}

.content-container .content-container-box .center-content-container-header {
    color: var(--color);
    transform: translateX(0);
}

.text-container {
    padding: 5% 20%;
    position: relative;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.text-container span {
    white-space: pre;
}

.text-container p {
    font-size: 1.1rem;
    padding: 10px 0;
    line-height: 1.5;
    letter-spacing: 2px;
}

.text {
    position: relative;
    transform: translateX(150%) scale(0);
    transition: transform 1s linear, opacity 1s ease;
    opacity: 0;
}

.text-container .text-animation {
    transform: translateX(0) scale(1);
    opacity: 1;
}

/*Section Projects*/
.project-content-box {
    padding: 70px 0 200px 0;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
    width: 60%;
    height: 550px;
    overflow: hidden;
    box-shadow: 0 10px 30px var(--mobile-menu-shadow-c);
    transform: scale(0);
    transition: transform 1s ease, opacity 1s ease;
    opacity: 0;
}

.project-content-box .project-animation {
    transform: scale(1);
    opacity: 1;
}

.project-rotate {
    position: absolute;
    width: 300%;
    height: 300%;
}

.bar-one {
    background: conic-gradient(transparent, transparent, transparent, var(--nav-hover-color));
    filter: saturate(400%) blur(10px);
}

.bar-two {
    background: conic-gradient(transparent, transparent, transparent, var(--underline-bc));
    filter: saturate(400%) blur(10px);
    transform: rotate(-180deg);
}

.project-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--body-background);
    border-radius: 16px;
    inset: 5px;
    z-index: 5;
}

.project-header {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-header h3 {
    font-size: 2.5rem;
    color: var(--jumping-letter-stroke-color);
    font-weight: 700;
    text-shadow: 1px 1px 1px var(--jumping-letter-color),
    1px 2px 1px var(--jumping-letter-color),
    1px 3px 1px var(--jumping-letter-color),
    1px 4px 1px var(--jumping-letter-color),
    1px 5px 1px var(--jumping-letter-color),
    1px 7px 3px var(--header-text-shadow-color-04),
    1px 9px 3px var(--header-text-shadow-color-02),
    1px 11px 3px var(--header-text-shadow-color-02),
    1px 13px 3px var(--header-text-shadow-color-04);
}

.project-content {
    height: 85%;
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.project-image, .project-description {
    border-radius: 10px;
    box-shadow: 0 10px 20px var(--header-text-shadow-color-02);
}

.project-image {
    width: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.project-description {
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.project-text {
    padding: 0 5%;
    font-size: 1.1rem;
    line-height: 1.2;
}

.skills-made-by {
    font-size: 1.6rem;
    font-weight: 700;
}

.project-skills {
    height: 2.5rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 90%;
}

.redux-icon {
    display: flex;
    align-items: center;
}

.redux-icon svg {
    box-sizing: border-box;
    height: 2.1rem;
    width: 2.1rem;
    color: var(--color);
}

.project-links {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 1.1rem;
    font-weight: 700;
}

.project-button {
    display: block;
    position: relative;
    text-align: center;
    background: transparent;
    width: 5.2rem;
    padding: 0.22rem 0;
    border-radius: 8px;
    text-decoration: none;
    color: var(--color);
    transition: color 0.5s ease-in-out;
    border: 3px solid var(--color);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    box-shadow: 0 0 0 var(--color);
    transition: box-shadow 0.5s ease, background-color 0.5s ease ;
}

/*Hover selectors for project-button writen in to @media (pointer: fine) only for screens with mouse etc...*/

/*Contact section*/
.contact-container {
    position: relative;
    padding: 5% 20%;
    overflow: hidden;
}

.contacts {
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.contact-box {
    width: 195px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    color: var(--color);
    filter: saturate(200%);
    transition: color 0.5s ease, box-shadow 0.5s ease;
    box-shadow: 0 0 10px var(--color);
    outline: none;
}

.contact-box p {
    font-size: 1.5rem;
    letter-spacing: 3px;
}

.contact-icon {
    font-size: 1.6rem;
}

.contact-container .text-animation {
    transform: translateX(0) scale(1);
    opacity: 1;
}

/*Hover selectors for contact-box writen in to @media (pointer: fine) only for screens with mouse etc...*/

/*Footer*/
footer {
    height: 100px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer p {
    margin-right: 50px;
    font-size: 0.9rem;
}

@keyframes move {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes color-wave{
    0% {
        color: var(--icon-color-1);
        filter: saturate(200%) drop-shadow(1px 1px var(--icon-color-1-alpha03)) 
                drop-shadow(2px 2px var(--icon-color-1-alpha03)) 
                drop-shadow(3px 3px var(--icon-color-1-alpha02))
                drop-shadow(4px 4px var(--icon-color-1-alpha01));
    }

    25% {
        color: var(--icon-color-2);
        filter: saturate(200%) drop-shadow(1px 1px var(--icon-color-2-alpha03)) 
                drop-shadow(2px 2px var(--icon-color-2-alpha03)) 
                drop-shadow(3px 3px var(--icon-color-2-alpha02))
                drop-shadow(4px 4px var(--icon-color-2-alpha01));
    }

    50% {
        color: var(--icon-color-3);
        filter: saturate(200%) drop-shadow(1px 1px var(--icon-color-3-alpha03)) 
                drop-shadow(2px 2px var(--icon-color-3-alpha03)) 
                drop-shadow(3px 3px var(--icon-color-3-alpha02))
                drop-shadow(4px 4px var(--icon-color-3-alpha01));
    }

    75% {
        color: var(--icon-color-4);
        filter: saturate(200%) drop-shadow(1px 1px var(--icon-color-4-alpha03)) 
                drop-shadow(2px 2px var(--icon-color-4-alpha03)) 
                drop-shadow(3px 3px var(--icon-color-4-alpha02))
                drop-shadow(4px 4px var(--icon-color-4-alpha01));
    }

    100% {
        color: var(--icon-color-5);
        filter: saturate(200%) drop-shadow(1px 1px var(--icon-color-5-alpha03)) 
                drop-shadow(2px 2px var(--icon-color-5-alpha03)) 
                drop-shadow(3px 3px var(--icon-color-5-alpha02))
                drop-shadow(4px 4px var(--icon-color-5-alpha01));
    }
}

@keyframes jump {
    to {
        transform: translateY(-1rem);
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes rotate-one {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-two {
    from {
        transform: rotate(-180deg);
    }

    to {
        transform: rotate(180deg);
    }
}

@media only screen and (max-width: 1600px) {
    .project-container {
        width: 80%;
    }

    .project-image {
        width: 45%;
    }

    .project-description {
        width: 45%;
    }
}

@media only screen and (max-width: 1200px) {
    .project-image {
        width: 40%;
    }

    .project-description {
        width: 50%;
    }
}

@media only screen and (min-width: 960px) {
    #type-name {
        border-right: 0.45rem solid var(--underline-bc);
        animation: 0.5s step-end infinite alternate blink;
    }

    .letter-box {
        animation: 2s ease-in-out infinite alternate jump;
        animation-delay: calc(0.4s * var(--d));
        transform: translateY(1rem);
    }
    
    #icon-container {
        animation: 12s linear infinite move;
    }
    
    .box {
        animation: 12s linear infinite reverse move;
    }

    .animate-one {
        animation: 10s linear infinite rotate-one;
    }

    .animate-two {
        animation: 10s linear infinite rotate-two;
    }
}

@media only screen and (max-width: 960px) {
    .desktop {
        display: none;
    }

    #mobile-menu-container {
        display: block;
    }

    #presentation {
        flex-direction: column;
    }

    #name-writer {
        width: 90%;
        margin: 0;
    }

    #name-writer p {
        font-size: 1.5rem;
    }

    #skills-container {
        width: 90%;
    }

    #type-name {
        min-height: 2rem;
    }

    .letter-box {
        font-size: 3rem;
        letter-spacing: 0.15rem;
    }

    .project-content-box {
        padding: 30px 0 100px 0;
    }

    .project-container {
        height: 850px;
    }

    .project-content {
        height: 90%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .project-header {
        height: 10%;
    }

    .project-image {
        width: 80%;
    }
    
    .project-description {
        width: 80%;
        height: 50%;
    }

    .contacts {
        flex-direction: column;
    }
}

@media only screen and (max-width: 480px) {

    #name-writer p {
        font-size: 1rem;
    }

    #skills-container {
        width: 100%;
        height: 390px;
    }

    #type-name {
        min-height: 1.4rem;
    }

    #icon-container {
        width: 240px;
        height: 240px;
    }

    .box {
        width: 50px;
        height: 50px;
        font-size: 1.35rem;
    }

    .text-container, .contact-container {
        padding: 5% 7%;
    }

    .content-container {
        padding: 20% 0;
    }

    .content-container-box h1 {
        font-size: 1.7rem;
    }

    .text-container p {
        font-size: 0.9rem;
    }

    .project-container {
        width: 96%; 
    }

    .project-header h1 {
        font-size: 2rem;
    }

    .project-image {
        width: 96%;
    }

    .project-description {
        width: 96%;
        height: 60%;
    }

    .project-text {
        font-size: 1.1rem;
    }

    .project-skills {
        font-size: 1.1rem;
        gap: 15px;
    }

    .contacts {
        padding: 2rem 0;
    }

    footer {
        justify-content: center;
        height: 64px;
    }

    footer p {
        margin: 0;
        font-size: 0.8rem;
    }
}

@media only screen and (max-width:360px) {
    #skills-container {
        height: 360px;
    }
    
    #icon-container {
        width: 210px;
        height: 210px;
    }

    .text-container {
        padding: 5%;
    }

    footer p {
        font-size: 0.7rem;
    }
}

@media only screen and (pointer: fine) {
    .project-button:hover {
        box-shadow: 0 0 15px var(--color),
        inset 5.5rem 0 var(--color);
        color: var(--body-background);
        background-color: var(--color);
    }
    
    .contact-box:hover, .contact-box:focus {
        color: var(--jumping-letter-color);
        box-shadow: 0 0 10px var(--jumping-letter-color);
    }
}